<h1>Milwaukee and Wolfram Departures</h1>
<div id="predicitions">
	{{#each busPredictions}}
		<div>{{prdctdn}}</div>
	{{/each}}
</div>

<h1>Belmont Blue Line Departures</h1>
<div id="predicitions">
	{{#each trainPredictions}}
		<div>{{this}}</div>
	{{/each}}
</div>
Last updated {{time}}
